
@{
    ViewData["Title"] = ViewData["PageTitle"];
}


<script type="text/javascript">
   var root = '@Url.Action("CreateEdit", "WinterWaterSupply")';

    function EditingStarted(e) {
        e.cancel = true;
        window.location.href = root + "/" + e.key;
    }

    function NewRowAdding(e) {
        window.location.href = root;
        e.component.cancelAll();
    }

</script>


<div class="row">

    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="card">
            <h5 class="card-header bg-primary text-white mt-0">@ViewData["PageTitle"]</h5>
            <div class="card-body">

                @(

    Html.DevExtreme().DataGrid<Obj09WinterWaterSupplySystem>
    ()
    .StateStoring(s => s
                .Enabled(true)
                .Type(StateStoringType.LocalStorage)
                .StorageKey("storageWinterWaterSupplySystem")).Columns(cols =>
                {
                    cols.AddFor(m => m.Name).DataType(GridColumnDataType.String).Caption("Ad");
                    cols.AddFor(m => m.FkIdAdminUnit).LoadWithAdminUnit().Caption("Yerləşdiyi ərazi");
                    cols.AddFor(m => m.FkIdActivityStatus).LoadWithActivityStatus().Caption("Fəaliyyətdə olub-olmaması");
                    cols.AddFor(m => m.ServiceArea).DataType(GridColumnDataType.Number).Caption("Xidmət etdiyi sahə (ha)");
                    cols.AddFor(m => m.ClosedIrrigationNetworks).DataType(GridColumnDataType.Number).Caption("Qapalı suvarma şəbəkələri (km)");
                    cols.AddFor(m => m.DeviceCount).DataType(GridColumnDataType.Number).Caption("Qurğu sayı (ədəd)");
                    cols.AddFor(m => m.FkIdOwnershipType).LoadWithOwnershipType().Caption("Mülkiyyət növü");
                    cols.AddFor(m => m.FkIdOwner).LoadWithOwner().Caption("Mülkiyyətçisi");
                    cols.AddFor(m => m.ExploitationDate).Caption("İstismara verildiyi tarix(il)");
                    cols.AddFor(m => m.Description).DataType(GridColumnDataType.String).Caption("Təsviri");
                })
    .Configure<Obj09WinterWaterSupplySystem>
        ("WinterWaterSupply", editMode: GridEditMode.Popup, keyField: "IdWinterWaterSupplySystems")
        .OnEditingStart("EditingStarted").OnInitNewRow("NewRowAdding").OnRowDblClick("EditingStarted")

        )

            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div>
