@model Obj10ProtectionBarrierViewModel
@{
    ViewData["Title"] = (Model.IdProtectionBarriers <= 0 || Model.IdProtectionBarriers == null) ? "Yeni mühafizə bəndi" : "Mühafizə bəndi məlumatları üzərində düzəliş";

    if (Model.Mode == true)
    {
        ViewData["Title"] = "Ətraflı məlumat";
    }
}


<style type="text/css">
    .dx-form-group-caption {
        font-weight: bold;
    }
</style>

<partial name="_ArcgisCreateEdit" view-data='@new ViewDataDictionary(ViewData) { { "service-id", 8 }, { "geometry-type", "polygon" }, {"object-id", Model.Objectid ?? 0 } }' />

<div class="row">
    <div class="col-md-12">
        <div class="card card-outlined style-primary">
            <!--end .card-head -->
            <div class="card-body">
                <Form asp-action="Save" method="post" onsubmit="return checkBeforeSubmit()" class="tx-form" enctype="multipart/form-data">
                    <input asp-for="IdProtectionBarriers" type="hidden" />
                    @using (Html.DevExtreme().ValidationGroup())
                    {
                        @(Html.DevExtreme().Form<Obj10ProtectionBarrierViewModel>().ID("form").ReadOnly(Model.Mode).ShowValidationSummary(true).Items(items =>
                    {
                    items.AddGroup().CssClass("first-group")
                        .Caption((Model.Mode == true) ? "Ətraflı məlumat" :((Model.IdProtectionBarriers <= 0 || Model.IdProtectionBarriers == null) ? "Yeni mühafizə bəndi" : "Mühafizə bəndi məlumatları üzərində düzəliş")).ColCount(3).Items
            (x =>
            {
            x.AddSimpleFor(m => m.Name).ValidationRules(rules=> { rules.AddRequired().Message("Məcburi xanadır!"); rules.AddAsync().ValidationCallback("checkObjectId").Message("Xəritədən obyekt seçilməyib!"); }).Editor(e => e.TextBox()).Label(e => e.Text("Ad")).IsRequired(true);

            x.AddSimpleFor(m => m.FkIdAdminUnit).Editor(e => e.SelectBox().FillWithAdminUnit()).Label(e => e.Text("Yerləşdiyi ərazi"));
            x.AddSimpleFor(m => m.FkIdRiver).Editor(e => e.SelectBox().FillWithRiver()).Label(e => e.Text("Çayın adı"));
            x.AddSimpleFor(m => m.ExploitationDate).Editor(editor => editor.NumberBox().ShowSpinButtons(true)
                    .ShowClearButton(true).Min(0)).Label(e => e.Text("İstismara verildiyi tarix(il)"));
            x.AddSimpleFor(m => m.FkIdActivityStatus).Editor(e => e.SelectBox().FillWithActivityStatus()).Label(e => e.Text("Fəaliyyətdə olub-olmaması"));
            x.AddSimpleFor(m => m.FkIdTechnicalStatus).Editor(e => e.SelectBox().FillWithTechnicalStatus()).Label(e => e.Text("Texniki vəziyyət"));
            x.AddSimpleFor(m => m.FkIdAppointment).Editor(e => e.SelectBox().FillWithAppointment(new { groupId = 5 })).Label(e => e.Text("Təyinatı"));
            x.AddSimpleFor(m => m.FkIdBarrierType).Editor(e => e.SelectBox().FillWithBarrierType()).Label(e => e.Text("Bəndin növü"));
            x.AddSimpleFor(m => m.FkIdOwnershipType).Editor(e => e.SelectBox().FillWithOwnershipType()).Label(e => e.Text("Mülkiyyət növü"));
            x.AddSimpleFor(m => m.FkIdOwner).Editor(e => e.SelectBox().FillWithOwner()).Label(e => e.Text("Mülkiyyətçisi"));
            x.AddSimpleFor(m => m.BarrierHeight).Editor(editor => editor.NumberBox().ShowSpinButtons(true)
            .ShowClearButton(true).Min(0)).Label(e => e.Text("Hündürlüyü (m)"));
            x.AddSimpleFor(m => m.BarrierLength).Editor(editor => editor.NumberBox().ShowSpinButtons(true)
        .ShowClearButton(true).Min(0)).Label(e => e.Text("Uzunluğu (km)"));
            x.AddSimpleFor(m => m.Description).Editor(editor => editor.TextArea().Height(70)).Label(e => e.Text("Qeyd")).ColSpan(3);
            x.AddSimpleFor(m => m.Objectid).Editor(e => e.NumberBox().Visible(false)).Label(x => x.Visible(false)); x.AddEmpty().ColSpan(2);
            x.AddGroup().Template(@<text>@Html.AddButtonPanel(Model.ButtonPanel)</text>).ColSpan(3);
                    });
}).FormData(Model).OnContentReady("onContentReady"))

                    }




                </Form>
            </div><!--end .card-body -->
        </div><!--end .card -->
        @*<em class="text-caption">Outlined Card with icon</em>*@
    </div><!--end .col -->
</div>


@using (Html.DevExtreme().NamedTemplate("photosTemplate"))
{

}