
@{
    ViewData["Title"] = "Index";
}




<div class="row">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header bg-primary text-white mt-0">Hesabat dizayneri</h5>
            <div class="card-body">

                @(

    @Html.DevExpress().ReportDesigner("ReportDesigner")
    .Height("1000px")

)
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div>


@section scripts{

    <script>
        $(document).ready(function () {
            $('body').removeClass('enlarge-menu');
            $('body').addClass('enlarge-menu');
        });

    </script>

}