<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>MSCİS | GİRİŞ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/az">

    <!-- App css -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/jquery-ui.min.css" rel="stylesheet">
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        .card-body {
            background: currentColor;
        }
        .account-body .auth-card .auth-logo-text h4 {
            font-weight: 600;
            color: #ffffff;
            font-size: 32px;
        }
        .pl-3, .px-3 {
            padding-left: 2rem !important;
        }
        .account-body.accountbg {
            background: #4C69D5 !important;
        }
        .text-danger{
            text-align:center;
        }

    </style>
</head>

<body class="account-body accountbg">
    <div id="particles-js" style="position: absolute; width: 100%; height: 100%;"></div>
    <script src="~/particles.js-master/particles.js"></script>
    <script src="~/particles.js-master/demo/js/app.js"></script>
    <!-- Log In page -->
    <div class="container">
        @RenderBody()
    </div><!--end container-->
    <!-- End Log In page -->
    <!-- jQuery  -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/metismenu.min.js"></script>
    <script src="/assets/js/waves.js"></script>
    <script src="/assets/js/feather.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.min.js"></script>

    <!-- App js -->
    <script src="/assets/js/app.js"></script>

</body>

</html>