@model UserViewModel
@{
    ViewData["Title"] = "Şifrə dəyişmə ekranı";
}

<div class="row">
    <div class="col-12">

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="card">
                    @if (!string.IsNullOrEmpty($"{ViewData["oldPasswordIncorrect"]}"))
                    {
                        <h5 class="card-header bg-danger text-white mt-0">@ViewData["oldPasswordIncorrect"]</h5>
                    }
                    <div class="card-body">
                        <div class="general-label">
                            <form asp-action="ChangePassword" asp-controller="Users" method="post" class="form-parsley">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="Username" />
                                <div class="form-group row">
                                    <div class="col-sm-12 text-center">
                                        <img class="col-offset-5 img-rouded" style="max-height:150px;max-width:150px;" src="/Content/uploads/Users/@Model.ImagePath" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 text-center">
                                        <h4 class="mt-0 header-title">@Model.Username</h4>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="OldPassword" class="col-sm-2 col-form-label">Köhnə şifrə</label>
                                    <div class="col-sm-10">
                                        <input type="password" asp-for="OldPassword" data-parsley-required-message="Köhnə şifrə boş ola bilməz" data-parsler-error-message="Köhnə şifrə boş ola bilməz" required class="form-control" placeholder="Köhnə şifrə">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Password" class="col-sm-2 col-form-label">Yeni şifrə</label>
                                    <div class="col-sm-10">
                                        <input type="password" asp-for="Pass" id="Pass" data-parsley-minlength="5" data-parsley-minlength-message="Şifrə ən az 5 simvol olmalıdır" required data-parsley-required-message="Yeni şifrə boş ola bilməz" data-parsler-error-message="Yeni şifrə boş ola bilməz" class="form-control" placeholder="Yeni şifrə">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="ConfirmPassword" class="col-sm-2 col-form-label">Şifrənin təkrarı</label>
                                    <div class="col-sm-10">
                                        <input type="password" asp-for="ConfirmPassword" data-parsley-equalto="#Pass" data-parsley-required-message="Şifrənin təkrarı boş ola bilməz" required data-parsley-equalto-message="Şifrə ilə təkrarı eyni deyil" class="form-control" placeholder="Yeni şifrənin təkrarı">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 text-center ml-auto">
                                        <button type="submit" class="btn btn-gradient-primary">Yadda saxla</button>
                                        <button type="button" onclick="javascript: window.location.href = '@User.Claims.First(x=>x.Type == "DefaultOperationUrl").Value'" class="btn btn-gradient-danger">İmtina et</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!--end card-body-->
                </div><!--end card-->
            </div>
        </div>
    </div>
</div>